<div class="sign-in-form">
  <div class="title">Sign In</div>
  <div>
    <div>
      <form [formGroup]="signInForm">
        <mat-form-field class="full-width mat-input" appearance="standard" >
          <mat-label>Email</mat-label>
          <input type="email" matInput formControlName="email" [errorStateMatcher]="matcher"
                 placeholder="Ex. pat@example.com">
          <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
            Please enter a valid email address
          </mat-error>
          <mat-error *ngIf="emailFormControl.hasError('required')">
            Email is <strong>required</strong>
          </mat-error>
          <mat-error *ngIf="emailFormControl.hasError('authError')">
            Email or password are <strong>incorrect</strong>
          </mat-error>
        </mat-form-field>
        <mat-form-field class="full-width" appearance="standard">
          <mat-label>Password</mat-label>
          <input [type]="hide ? 'password' : 'text'" matInput formControlName="password" [errorStateMatcher]="matcher"
                 placeholder="password">
          <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
          <mat-error *ngIf="passwordFormControl.hasError('required')">
            Password is <strong>required</strong>
          </mat-error>
          <mat-error *ngIf="passwordFormControl.hasError('authError')">
            Email or password are <strong>incorrect</strong>
          </mat-error>
        </mat-form-field>
      </form>
    </div>
    <div></div>
  </div>
  <div class="buttons link-font">
    <div><app-serapis-link title="Forgot password?" (click)="forgotPasswordHandler($event)"></app-serapis-link></div>
    <div class="login-button"><app-serapis-button title="Log In" (click)="auth()"></app-serapis-button></div>
  </div>
  <div class="sign-up-link link-font">
    <app-serapis-link title="Don’t have an account? Sign Up" [routerLink]="urlsRoutes.auth.signUp"></app-serapis-link>
  </div>
</div>
