<div class="main-header-container">
  <div class="logo-container"><img class="logo-img" src="../../../assets/images/serapis-logo.png" /></div>
  <app-header-navbar [navItems]="menuItems | async"></app-header-navbar>
  <div class="user-settings-container">
    <div class="user-name-text">User Name</div>
    <div class="menu-container">
    <div class="user-name-image" [matMenuTriggerFor]="menu">UN</div>
    <mat-icon
      class="user-settings-icon"
      svgIcon="rectangleDownIcon"
      aria-hidden="false"
      [matMenuTriggerFor]="menu"
    ></mat-icon>
    <mat-menu #menu="matMenu">
      <button mat-menu-item (click)="logoutHandler()">Logout</button>
    </mat-menu>
    </div>
  </div>
</div>
