.schemas-header-container {
  display: flex;
  margin-top: 28px;
  margin-left: 24px;
}

.add-new-schema-button {
  //width: 184px;
  height: 48px;
}

.schemas-action-button {
  width: 125px;
  height: 48px;
  margin-left: 8px;
}

.schemas-main-container {
  margin-top: 28px;
}

.action-icon {
  width: 16px;
  height: 16px;
  margin-right: 5px;
}

.actions-column-cell {
  display: flex;
}

.schema-type-toggle {
  margin-right: 40px;
}

.schema-action-icon {
  width: 16px;
  height: 16px;
  margin-right: 20px;
  color: #1960ec;
  cursor: pointer;
}

.schema-action-icon-disabled {
  width: 16px;
  height: 16px;
  margin-right: 20px;
  color: #b5b5b5;
  cursor: not-allowed;
}

.schema-status {
  font-weight: 500;
}

.status-DRAFT {
  color: #2196f3;
}

.status-PUBLISHED {
  color: #4caf50;
}

.status-UNPUBLISHED {
  color: #f44336;
}

.btn-approve {
  background: #4caf50;
  border-radius: 6px;
  color: #fff;
  display: inline-block;
  padding: 2px 8px;
  margin: 0px 5px;
  cursor: pointer;
  font-weight: 500;
  width: 100px;
  text-align: center;
}
