<div class="schemas-header-container">
  <mat-button-toggle-group
    class="schema-type-toggle"
    name="schemaType"
    aria-label="Schema Type"
    value="system"
    (change)="handleChangeSchemasType($event)"
  >
    <mat-button-toggle value="system">System Schemas</mat-button-toggle>
    <mat-button-toggle value="policy">Policy Schemas</mat-button-toggle>
  </mat-button-toggle-group>
  <app-serapis-button
    title="Add New Schema"
    type="filled"
    class="add-new-schema-button"
    (click)="handleAddNewSchema()"
  >
    <mat-icon class="action-icon" svgIcon="plus" aria-hidden="false"></mat-icon>
  </app-serapis-button>
  <app-serapis-button
    *ngIf="!system && isConfirmed"
    title="Import"
    type="empty"
    class="schemas-action-button"
    (click)="importSchemas()"
  >
    <mat-icon
      class="action-icon"
      svgIcon="import"
      aria-hidden="false"
    ></mat-icon>
  </app-serapis-button>
</div>
<div class="schemas-main-container">
  <app-data-grid [data]="data || []">
    <ng-template #topicColumnCellTemplate let-element="element">
      <app-dragonglass type="topics" [params]="element.topicId">{{element.topicId}}</app-dragonglass>
    </ng-template>

    <ng-template #policyColumnCellTemplate let-element="element">
      {{ policyNameByTopic[element.topicId] }}
    </ng-template>

    <ng-template #statusColumnCellTemplate let-element="element">
      <ng-container *ngIf="system; else policyStatusTemplate">
        <div *ngIf="!element.active">
          <span class="schema-status status-DRAFT">Inactive</span>
        </div>
        <div *ngIf="element.active">
          <span class="schema-status status-PUBLISHED">Active</span>
        </div>
      </ng-container>
      <ng-template #policyStatusTemplate>
        <div [ngSwitch]="element.status">
          <div *ngSwitchCase="'DRAFT'">
            <span class="schema-status status-DRAFT">Draft</span>
          </div>
          <div *ngSwitchCase="'PUBLISHED'">
            <span class="schema-status status-PUBLISHED">Published</span>
          </div>
          <div *ngSwitchCase="'UNPUBLISHED'">
            <span class="schema-status status-UNPUBLISHED">Unpublished</span>
          </div>
          <div *ngSwitchDefault>
            <span class="schema-status">{{ element.status }}</span>
          </div>
        </div>
      </ng-template>
    </ng-template>

    <ng-template #operationColumnCellTemplate let-element="element">
      <ng-container *ngIf="system; else policyOperationTemplate">
        <div
          *ngIf="!element.active"
          class="btn-approve"
          (click)="active(element)"
        >
          Active
        </div>
      </ng-container>
      <ng-template #policyOperationTemplate>
        <div
          *ngIf="element.status == 'DRAFT'"
          class="btn-approve"
          (click)="publish(element)"
        >
          Publish
        </div>
        <div
          *ngIf="element.status == 'UNPUBLISHED'"
          class="btn-approve"
          (click)="publish(element)"
        >
          Publish
        </div>
      </ng-template>
    </ng-template>

    <ng-template #actionsColumnCellTemplate let-element="element">
      <div class="actions-column-cell">
        <ng-container *ngIf="this.system; else policyEditTemplate">
          <div
            *ngIf="!element.readonly && !element.active"
            class="btn-settings"
            (click)="handleEditSchema(element)"
            matTooltip="Edit"
            matTooltipPosition="above"
            matTooltipClass="guardian-tooltip"
          >
            <mat-icon
              svgIcon="edit"
              aria-hidden="false"
              class="schema-action-icon"
            ></mat-icon>
          </div>
          <div
            *ngIf="element.readonly || element.active"
            class="btn-settings btn-delete-des"
          >
            <mat-icon
              svgIcon="edit"
              aria-hidden="false"
              class="schema-action-icon-disabled"
            ></mat-icon>
          </div>
        </ng-container>
        <ng-template #policyEditTemplate>
          <div
            *ngIf="element.status == 'DRAFT'"
            class="btn-settings"
            (click)="handleEditSchema(element)"
            matTooltip="Edit"
            matTooltipPosition="above"
            matTooltipClass="guardian-tooltip"
          >
            <mat-icon
              svgIcon="edit"
              aria-hidden="false"
              class="schema-action-icon"
            ></mat-icon>
          </div>
          <div
            *ngIf="element.status != 'DRAFT' && element.isCreator"
            class="btn-settings"
            (click)="handleNewVersionSchema(element)"
            matTooltip="New Version"
            matTooltipPosition="above"
            matTooltipClass="guardian-tooltip"
          >
            <mat-icon
              class="schema-action-icon"
              svgIcon="plus"
              aria-hidden="false"
            ></mat-icon>
          </div>
          <div
            *ngIf="element.status != 'DRAFT' && !element.isCreator"
            class="btn-settings"
            (click)="handleCloneSchema(element)"
            matTooltip="Copy Schema"
            matTooltipPosition="above"
            matTooltipClass="guardian-tooltip"
          >
            <mat-icon
              class="schema-action-icon"
              svgIcon="plus"
              aria-hidden="false"
            ></mat-icon>
          </div>
        </ng-template>

        <ng-container *ngIf="this.system; else policyDeleteTemplate">
          <div
            *ngIf="!element.readonly && !element.active"
            class="btn-settings btn-delete"
            (click)="handleDeleteSchema(element)"
            matTooltip="Delete"
            matTooltipPosition="above"
            matTooltipClass="guardian-tooltip"
          >
            <mat-icon
              svgIcon="delete"
              aria-hidden="false"
              class="schema-action-icon"
            ></mat-icon>
          </div>
          <div
            *ngIf="element.readonly || element.active"
          >
            <mat-icon
              svgIcon="delete"
              aria-hidden="false"
              class="schema-action-icon-disabled"
            ></mat-icon>
          </div>
        </ng-container>
        <ng-template #policyDeleteTemplate>
          <div
            *ngIf="element.status == 'DRAFT'"
            class="btn-settings btn-delete"
            (click)="handleDeleteSchema(element)"
            matTooltip="Delete"
            matTooltipPosition="above"
            matTooltipClass="guardian-tooltip"
          >
            <mat-icon
              svgIcon="delete"
              aria-hidden="false"
              class="schema-action-icon"
            ></mat-icon>
          </div>
          <div
            *ngIf="element.status != 'DRAFT'"
          >
            <mat-icon
              svgIcon="delete"
              aria-hidden="false"
              class="schema-action-icon-disabled"
            ></mat-icon>
          </div>
        </ng-template>

        <mat-icon
          svgIcon="document"
          aria-hidden="false"
          class="schema-action-icon"
          (click)="handleOpenDocument(element)"
        ></mat-icon>
        <mat-icon
          *ngIf="!system"
          svgIcon="export"
          aria-hidden="false"
          class="schema-action-icon"
          (click)="handleExportSchema(element)"
        ></mat-icon>
      </div>
    </ng-template>
  </app-data-grid>

  <div *ngIf="taskId" class="loading">
    <async-progress class="loading-progress" [taskId]="taskId" [expected]="expectedTaskMessages" (error)="onAsyncError($event)" (completed)="onAsyncCompleted()"></async-progress>
  </div>
</div>
