<div class="sign-up-form">
  <div class="title">Password change</div>
    <div>
      <form [formGroup]="passwordChange">
        <mat-form-field class="full-width" appearance="standard">
          <mat-label>New Password</mat-label>
          <input [type]="hide ? 'password' : 'text'" matInput formControlName="password" [errorStateMatcher]="matcher"
                 placeholder="New Password">
          <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
          <mat-error *ngIf="passwordFormControl.hasError('required')">
            New Password is <strong>required</strong>
          </mat-error>
        </mat-form-field>
        <mat-form-field class="full-width" appearance="standard">
          <mat-label>Repeat New Password</mat-label>
          <input [type]="hide ? 'password' : 'text'" matInput formControlName="confirmPassword" [errorStateMatcher]="matcher"
                 placeholder="Repeat New Password">
          <mat-error *ngIf="confirmPasswordFormControl.hasError('required')">
            Repeat New Password is <strong>required</strong>
          </mat-error>
          <mat-error *ngIf="confirmPasswordFormControl.hasError('mustMatch')">
            New Password and Repeat New Password must<strong> match </strong>
          </mat-error>
        </mat-form-field>
      </form>
    </div>
    <div class="buttons link-font">
      <div class="button"><app-serapis-button appStepPreviousButton title="Back" type="empty" routerLink="/auth/sign-in" ></app-serapis-button></div>
      <div class="button"><app-serapis-button title="Submit" [disabled]="!passwordChange.valid" (click)="submitForm()"></app-serapis-button></div>
    </div>
</div>
