@use 'abstracts' as *;

* {
  box-sizing: border-box;
}

.button-base {
  display: inline-block;
  width: auto;
  height: 100%;
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100px;
  width: auto;
  height: 100%;
  cursor: pointer;
  padding: 0 24px;
}

.title {
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
}

.filled {
  background: $blue-100;
  box-shadow: 0 6px 16px rgba(159, 198, 244, 0.63);
  color: $white-200;
}

.empty {
  background: rgba(255, 255, 255, 0.1);
  border: 2px solid rgba(51, 51, 51, 0.25);
  color: #1960EC;
}


.blue {
  background: rgba(255, 255, 255, 0.1);
  border: 2px solid #1960EC;
  color: #1960EC;
}

.empty-gray {
  background: rgba(255, 255, 255, 0.1);
  border: 2px solid rgba(51, 51, 51, 0.25);
  color: black;
}

.inactivated {
  background: #C3C3C3;
  color: $white-200;
}


