
$white-100: #f2f2f2;
$white-200: #ffffff;

$blue-100: #1960EC;

$success-bg-color: #C7E8AE;
$success-color: #157C83;
$error-bg-color: #FFDCD5;
$error-color: #FE4444;
$info-bg-color: #b4d6ff;
$info-color: #1960EC;
$gray-bg-color: #EBEBEB;
$gray-color: rgba(51, 51, 51, 0.5);
