<table mat-table [dataSource]="dataSource" matSort class="main-data-grid">
  <ng-container
    *ngFor="let column of columnDefs; let i = index"
    [matColumnDef]="column.columnKey"
  >
    <th class="header-cell" mat-header-cell *matHeaderCellDef mat-sort-header>
      <div *ngIf="!column.headerTemplate">{{ column.label }}</div>
      <ng-container
        *ngIf="column.headerTemplate"
        [ngTemplateOutlet]="column.headerTemplate"
        [ngTemplateOutletContext]="{element: column}"
      ></ng-container>
    </th>
    <td mat-cell *matCellDef="let element">
      <div *ngIf="!column.cellTemplate">{{ element[column.columnKey] }}</div>
      <ng-container
        *ngIf="column.cellTemplate"
        [ngTemplateOutlet]="column.cellTemplate"
        [ngTemplateOutletContext]="{element: element}"
      ></ng-container>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
</table>
