@use 'abstracts' as *;

:host {
  ::ng-deep {
    .mat-input-element {
      font-size: 20px;
      line-height: 20px;
    }
    .mat-form-field-label-wrapper {
      font-size: 16px !important;
    }
    input:-webkit-autofill {
      -webkit-box-shadow: inset 0 0 0 50px $white-100;
      font-size: 20px !important;
    }
    mat-form-field {
      width: 100%;
    }
  }
}
